
    {% extends "layout.html" %}
    {% block content %}
    <div class="container" style="margin: 12px">
        <div class="jumbotron" style="color: #000000">
                <h1 class="display-4">ABOUT ME</h1>
                <p>I'm Christian Ruales, from Ecuador, I was born in Quito, a beautiful city in Pichincha, I Like to create programs</p>
                <p>I Love to learn new languages, my English isn't perfect because my native language is Espanish</p>
        </div>
    </div>
    
{% endblock %}