<!----------------------------------Showing a rented books of users-------------------------->
{% extends "layout.html" %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    {% for message in messages %}
    {% if " rented" in messages %}
    <div class="alert alert-success alert-dismissible fade show" role="alert">
            {{ message }}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
    {% endif %}
    {% endfor %}
    {% endif %}
    {% endwith %}
    <div class="table-responsive">
        <table class="table table-hover">
            <thead class="thead-dark">
                <th scope="col">Book</th>
                <th scope="col">Quantity</th>
                <th scope="col">Quantity</th>
            </thead>
            <tbody >
                <!--------------List books of user------------->
                {% for book in books %}

                <tr style="background-color: white;">
                    <th scope="row">{{ book[0] }}</th>
                    <th scope="row">{{ book[1] }}</th>
                    <th scope="row">{{ book[2] }}</th>
                    
                </tr>
                {% endfor %}
                <!--------------END List books of user------------->
            </tbody>
            
        </table>
    </div>
</head>
<body>
    
</body>
</html>

{% endblock%}